@font-face {
    font-family: Magic;
    src: url(../fonts/Beleren2016-Bold.ttf);
}

body {
    background-image: url(../eldrazibg.png);
    background-repeat: repeat-y;
    min-width: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    height: 20%;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    justify-content: center;
    color: #FFF;
    padding: 20px;
    margin-left: 5%;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-family: 'Magic';
}

nav ul li a:hover {
    background-color: #434245;
}

#cardnft {
    width: 20%;
    height: 600px;
    margin-top: 5%;
    min-width: 380px;
    perspective: 500px;
}

#nftcontent {
    transition: transform 1s;
    transform-style: preserve-3d;
}

#cardnft:hover #nftcontent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

#nftfront {
    border: solid black 15px;
    border-radius: 20px;
    background-color:#434245;
}

#nftfront, #nftback{
    position: absolute;
    backface-visibility: hidden;
    width: 20%;
    height: 600px;
    min-width: 380px;
}

#nftback {
    transform: rotateY( 180deg );
    width: 20%;
    height: 600px;
    min-width: 380px;
}

.verso {
    width: 100%;
    height: 600px;
    border-radius: 23.5px;
}

.mana {
    width: 6%;
    height: 21px;
    margin-left: 90%;
    margin-bottom: 1%;
}

#divtit {
    background-color: rgb(196, 195, 186);
    border: solid black 4px;
    width: 97%;
    border-radius: 20px;
    margin-top: 1%;
}

.img {
    width: 95%;
    height: 300px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 15%;
    border: solid black 4px;
    border-radius: 5px;
}

#title {
    height: 1px;
    padding-top: 2%;
    padding-left: 5%;
    font-family: 'Magic';
    font-size: 22px;
}

#divtit2 {
    background-color: rgb(196, 195, 186);
    border: solid black 4px;
    width: 97%;
    height: 35px;
    border-radius: 20px;
}

#title2 {
    padding-top: 1%;
    padding-left: 5%;
    font-family: 'Magic';
    font-size: 20px;
}

#divtit3 {
    background-color: rgb(230, 228, 213);
    border: solid black 4px;
    width: 97%;
    height: 170px;
    border-radius: 10px;
    margin-top: 1%;
}

#desc {
    font-family: 'Magic';
    margin-top: 1%;
    padding-left: 5%;
}

.cardlist {
    width: 20%;
    height: 600px;
    margin-top: 5%;
    min-width: 380px;
    perspective: 500px;
    display: inline;
}

.listcontent {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardlist:hover .listcontent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.listfront {
    border: solid black 15px;
    border-radius: 20px;
    background-color:#434245;
}

.listfront, .listback{
    position: absolute;
    backface-visibility: hidden;
    width: 20%;
    height: 600px;
    min-width: 380px;
}

.listback {
    transform: rotateY( 180deg );
    width: 20%;
    height: 600px;
    min-width: 380px;
}

.grid {
    display: grid;
    grid-row: 4;
    grid-column: 3;
}