@font-face {
    font-family: Magic;
    src: url(../fonts/Beleren2016-Bold.ttf);
}

body {
    background-image: url(../eldrazibg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100%;
    width: 100%;
    transition: background .4s;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #42355c;
    height: 79px;
    width: 100%;
    box-shadow: 10px 5px 5px black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    justify-content: center;
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-family: 'Magic';
    font-size: xx-large;
}

nav ul li a:hover {
    background-color: #2a2536;
}

#mtglogo {
    float: right;
    margin-right: 1%;
    margin-top: 0.5%;
    height: 60px;
}

.thetitle {
    text-align: center;
    color: #FFF;
    padding: 20px;
    font-family: 'Magic';
    margin-top: 5%;
    background-color: #42355c;
}

.subtitle {
    text-align: center;
    color: #6c5c8d;
    padding: 20px;
    font-family: 'Magic';
    background-color: #2a2536;
    box-shadow: 5px 5px 5px black;
}

#cardnft {
    width: 20%;
    height: 600px;
    margin-top: 5%;
    min-width: 380px;
    perspective: 3000px;
}

#nftcontent {
    transition: transform 1s;
    transform-style: preserve-3d;
}

#cardnft:hover #nftcontent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

#nftfront {
    border: solid black 15px;
    border-radius: 20px;
    background-color:#42355c;
    box-shadow: 0px 10px rgb(88, 40, 230);
}

#nftfront, #nftback{
    position: absolute;
    backface-visibility: hidden;
    width: 20%;
    height: 600px;
    min-width: 380px;
}

#nftback {
    border: solid black 15px;
    border-radius: 20px;
    background-color:#461726;
    transform: rotateY( 180deg );
    width: 20%;
    height: 600px;
    min-width: 380px;
    box-shadow: 0px 10px rgb(230, 40, 94);
}

.verso {
    width: 100%;
    height: 600px;
    border-radius: 23.5px;
}

.mana {
    width: 6%;
    height: 21px;
    margin-left: 90%;
    margin-bottom: 1%;
}

.mananav {
    width: 6%;
    height: 25px;
    margin-left: 90%;
}

.picmana {
    height: 1px;
}

#divtit {
    background-color: rgb(204, 193, 197);
    border: solid black 4px;
    width: 97%;
    border-radius: 20px;
    margin-top: 1%;
}

.img {
    width: 95%;
    height: 300px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 15%;
    border: solid black 4px;
    border-radius: 5px;
}

#title {
    height: 1px;
    padding-top: 2%;
    padding-left: 5%;
    font-family: 'Magic';
    font-size: 22px;
}

#divtit2 {
    background-color: rgb(196, 195, 186);
    border: solid black 4px;
    width: 97%;
    height: 35px;
    border-radius: 20px;
}

#title2 {
    padding-top: 1%;
    padding-left: 5%;
    font-family: 'Magic';
    font-size: 20px;
}

#divtit3 {
    background-color: rgb(230, 228, 213);
    border: solid black 4px;
    width: 97%;
    height: 170px;
    border-radius: 10px;
    margin-top: 1%;
}

#desc {
    font-family: 'Magic';
    margin-top: 1%;
    padding-left: 5%;
}


#num {
    height: 0px;
    padding-left: 82%;
    font-family: 'Magic';
    font-size: 22px;
}

#divinfo {
    background-color: rgb(196, 195, 186);
    border: solid black 4px;
    width: 25%;
    height: 35px;
    border-radius: 10px;
    margin-left: 78%;
    margin-bottom: 10%;
    margin-top: -5%;
}

#info {
    height: 1px;
    font-family: 'Magic';
    font-size: 22px;
    margin-left: 15%;
    margin-top: 5%;
}

.cardlist {
    width: 20%;
    height: 600px;
    margin-top: 5%;
    min-width: 380px;
    perspective: 500px;
    display: inline;
}

.listcontent {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardlist:hover .listcontent {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.listfront {
    border: solid black 15px;
    border-radius: 20px;
    background-color:#434245;
}

.listfront, .listback{
    position: absolute;
    backface-visibility: hidden;
    width: 20%;
    height: 600px;
    min-width: 380px;
}

.listback {
    transform: rotateY( 180deg );
    width: 20%;
    height: 600px;
    min-width: 380px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}